@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
/* Start Registration & Login Style */
.registration {
  background-image: url(http://localhost:3000/Images/bg-for-login-and-resistration.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding-bottom: 163px;
}

.registration__image__form {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 15%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.registration__image {
  width: 390px;
  margin: 0 auto;
}

form.registration__image__form--inside h2 {
  color: white;
  padding: 0px 0px 21px 0px;
}

form.registration__image__form--inside {
  background: #ffffff14;
  padding: 1.3em;
  border: 1px solid #ffffff47;
  border-radius: 5px;
  padding-bottom: 40px;
}

button.registration__image__form--inside__content--button.btn.btn-primary {
  border: #faa718;
  transition: all 0.3s ease-in-out;
  background: #faa718;
  text-transform: uppercase;
  width: 80%;
  border-radius: 25px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 14px;
}
button.registration__image__form--inside__content--button.btn.btn-primary:hover {
  width: 85% !important;
}
small#text1.text-muted.form-text a {
  color: #faa719;
  margin-left: 4px;
  text-decoration: none;
}
small.text-muted.form-text a {
  color: #faa719 !important;
  margin-left: 4px;
  text-decoration: none;
}
small#text1.text-muted.form-text {
  font-weight: 500;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  font-size: 12px;
}
small.text-muted.form-text {
  font-weight: 500;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  font-size: 12px;
}
form.registration__image__form--inside input {
  font-size: 14px;
  font-weight: 400;
}
.form-check {
  text-align: left;
  color: white;
  display: block;
  font-size: 13px;
}
small#text {
  display: block;
  text-align: right;
  margin-top: -39px;
  font-weight: 500;
  --bs-text-opacity: 1;
  color: #faa719 !important;
  font-size: 12px;
}
/* End Registration & Login Style */

@media (max-width: 991px) {
  .registration {
    padding-bottom: 82px;
  }
}

@media (max-width: 575px) {
  .registration__image {
    width: 281px;
    margin: 0 auto;
    height: 52vh;
  }
  .pb-4 {
    padding-bottom: 0.5rem !important;
  }
  .mb-4 {
    margin-bottom: 1rem !important;
  }
  button.registration__image__form--inside__content--button.btn.btn-primary {
    width: 77%;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 11px;
  }
  form.registration__image__form--inside input {
    font-size: 11px;
    font-weight: 400;
  }
  form.registration__image__form--inside {
    padding-bottom: 14px;
  }
}
