
.map-container {
    position: relative;
    height: calc(100vh - 44px);
    top: 47px;
}
.text-center.flight-details {
  padding-top: 65px;
}
@media (max-width: 991px) {
  .text-center.flight-details {
    margin: auto;
    margin-left: 413px;
    padding-top: 59px;
  }
}
