@media screen and (max-width:991px) {
    .left-sidebar-default{
        display: none;
    }
}
@media screen and (max-width:500px) {
    .footer .footer-content {
        display: block !important;
    }
    .footer .footer-content .left p {
        text-align: center !important;
        padding: 15px 15px 10px 15px !important;
    }
    .footer .footer-content .right p {
        text-align: center !important;
        padding: 0px 15px 15px 15px !important;
    }
}
@media screen and (min-width:990px) {
    .main-header .login {
        right: 0 !important;
        position: fixed !important;
    }
}