body{
    font-family: 'Lato', sans-serif !important;
}
.main-dashboard{
    height: 100vh;
}
.main-header {
	width: 100vw;
	position: fixed;
	z-index: 999999;
	transition: all 0.3s;
	box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
}
.place-card.place-card-large {
    display: none;
}
.brand-bg-color{
    background: #00aeef;
}
.brand-text-color{
    color: #00aeef;
}
.brand-bg-extra-dark{
    background: #000143 !important;
}
.brand-text-extra-dark{
    color: #000143 !important;
}
.brand-bg-light{
    background: #092359 !important;
}
.brand-text-light{
    color: #092359 !important;
}
.brand-bg-extra-light{
    background: #4f6695 !important;
}
.brand-text-extra-light{
    color: #4f6695 !important;
}
.brand-bg-orange{
    background: #faa718;
}
.brand-text-orange{
    color: #faa718;
}
.company-logo img {
    /* width: 180px; */
    margin-top: -16px;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-600{
    font-weight: 600 !important;
}
.main-header .navbar .nav-link.hover.active::after {
    content: "";
    width: 100%;
    background: #FAA718;
    z-index: 999999;
    border-radius: 2px 2px 0px 0px;
    bottom: -8px;
    display: block;
    padding-bottom: 3px;
    position: absolute;
    left: 0;
}
.main-header .navbar .nav-link.hover::after {
    content: "";
    width: 100%;
    background: transparent;
    transition: all 0.3s ease-in-out;
}
.main-header .navbar .nav-link.hover:hover::after {
    content: "";
    width: 100%;
    background: #FAA718;
    z-index: 999999;
    border-radius: 2px 2px 0px 0px;
    bottom: -8px;
    display: block;
    padding-bottom: 3px;
    position: absolute;
    left: 0;
}
.main-header .navbar .nav-link.dropdown-toggle.hover-dropdown::before {
    content: "";
    width: 100%;
    background: transparent;
    transition: all 0.3s ease-in-out;
}
.main-header .navbar .nav-link.dropdown-toggle.hover-dropdown:hover::before {
    content: "";
    width: 100%;
    background: #FAA718;
    z-index: 999999;
    border-radius: 2px 2px 0px 0px;
    bottom: -8px;
    display: block;
    padding-bottom: 3px;
    position: absolute;
    left: 0;
}
.text-light-custom{
    color: #ffffff99;
}
.main-header .navbar .nav-link:hover, .main-header .navbar .nav-link:active, .main-header .navbar .nav-link:focus{
color: white !important;
}
.main-header .login .dropdown-toggle::after {
    content: none;
}
.main-section{
    padding-top: 55px;
}
.left-sidebar-default .accordion{
    width: 350px;
}
.left-sidebar-default{
    position: absolute;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../medias/icons/down-arrow-white.svg") !important;
    transform: rotate(-180deg) scale(0.8) !important;

}
.accordion-button::after {
    background-image: url("../medias/icons/down-arrow-white.svg") !important;
    transform: scale(0.8) !important;
}
.accordion-button:focus {
    border-color: none !important;
    box-shadow: none !important;
}
.question-icon-color {
    color: #ffffff54;
}
.h1, h1 {
	font-size: 28px;
}
.h2, h2 {
	font-size: 24px;
}
.h3, h3 {
	font-size: 22px;
}
.h4, h4 {
	font-size: 18px;
}
.h5, h5 {
	font-size: 16px;
}
.h6, h6 {
	font-size: 14px;
}
.p, p {
	font-size: 12px;
    margin-bottom: 0;
}
.border-radius-p25rem{
    border-radius: .25rem;
}
a {
	color: #092359;
	text-decoration: none;
}
.accordion-body .sec {
	transition: all 0.3s ease-in-out;
}
.accordion-body a:hover .sec {
	background: #213560 !important;
}
.flight-details .flight-header {
	background-image: url('../medias/airlines-logo/qatar-airways-bg.jpg');
	height: 14em;
	background-position: center;
	background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.no-padding {
	padding-left: 0;
	padding-right: 0;
}
.flight-details .flight-header .container-fluid {
	margin-top: 14em;
    z-index: 9;
}
.flight-details .flight-header .btn-close {
	position: absolute;
	top: 8px;
	right: 12px;
    box-sizing: content-box;
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
	border-radius: 5.25rem;
	transform: scale(0.7);
	padding: 12px !important;
    transition: all 0.3s ease-in-out;
}

.flight-details .flight-header .row .col {
	border-right: 1px solid #ddd;
}
.flight-details .flight-header .row .col:last-child {
	border-right: none;
}
.offcanvas-start {
	width: 370px;
	top: 71px;
	left: 16px;
	border-radius: 5px !important;
}
.navbar-toggler {
	padding: .45rem .85rem;
	background-color: #ffffff0d;
	border: 1px solid #ffffff30;
}
.main-header .navbar button:focus:not(:focus-visible) {
	border: 1px solid #fff;
}
.main-header .navbar .navbar-toggler:focus {
	box-shadow: none;
}