@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

/* Start Header Style */
.main {
  font-family: "Lato", sans-serif !important;
  background-color: #000143;
  color: #79799c;
  position: fixed;
  width: 100vw;
  z-index: 9999;
}
.logo {
  margin-top: -16px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}
.navbar-nav {
  margin: auto;
}
.me-auto.navbar-nav .nav-link {
  color: #79799c;
}
a#basic-nav-dropdown {
  color: #79799c;
  padding-right: 28px;
}
a.link1 {
  color: #79799c;
  text-decoration: none;
  margin-top: 7px;
  padding-right: 31px;
}
a.link2 {
  color: #79799c;
  text-decoration: none;
  margin-top: 7px;
  padding-right: 31px;
}
a.active_class {
  color: #79799c;
  color: white;
}

a.link1:hover {
  color: white;
}

a.link1:hover {
  color: white;
}
a.link3 {
  color: #79799c;
  text-decoration: none;
  margin-top: 7px;
  padding-right: 31px;
} 
a.link3:hover {
  color: white;
}

a.link3:hover {
  color: white;
}
a.link3:hover::after {
  content: "";
  width: 100%;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
a.link3:hover::after {
  content: "";
  width: 3%;
  background: #faa718;
  z-index: 999999;
  border-radius: 2px 2px 0px 0px;
  bottom: 0px;
  display: block;
  padding-bottom: 3px;
  position: absolute;
  /* left: 26.7%; */
  margin-left: -7px;
}


a.link4 {
  color: #79799c;
  text-decoration: none;
  margin-top: 7px;
  padding-right: 31px;
} 
a.link4:hover {
  color: white;
}

a.link4:hover {
  color: white;
}
a.link4:hover::after {
  content: "";
  width: 100%;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
a.link4:hover::after {
  content: "";
  width: 3%;
  background: #faa718;
  z-index: 999999;
  border-radius: 2px 2px 0px 0px;
  bottom: 0px;
  display: block;
  padding-bottom: 3px;
  position: absolute;
  margin-left: -4px;
}

a.link5 {
  color: #79799c;
  text-decoration: none;
  margin-top: 7px;
  padding-right: 31px;
} 
a.link5:hover {
  color: white;
}

a.link5:hover {
  color: white;
}
a.link5:hover::after {
  content: "";
  width: 100%;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
a.link5:hover::after {
  content: "";
  width: 3%;
  background: #faa718;
  z-index: 999999;
  border-radius: 2px 2px 0px 0px;
  bottom: 0px;
  display: block;
  padding-bottom: 3px;
  position: absolute;
  margin-left: -4px;
}

.navbar-nav .link1.active_class::after {
  content: "";
  width: 3%;
  background: #FAA718;
  z-index: 999999;
  border-radius: 2px 2px 0px 0px;
  bottom: 0px;
  display: block;
  padding-bottom: 3px;
  position: absolute;
  /* left: 23.2%; */
  margin-left: -11px;
}
/* .navbar-nav .link1:hover::after {
  content: "";
  width: 3%;
  background: #FAA718;
  z-index: 999999;
  border-radius: 2px 2px 0px 0px;
  bottom: 0px;
  display: block;
  padding-bottom: 3px;
  position: absolute;
  left: 23.2%;
} */
.drop.active_class {
  color: #79799c;
  color: white;
}
a#basic-nav-dropdown:hover {
  color: white;
}
.drop.nav-item.dropdown:hover::after {
  content: "";
  width: 100%;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.drop.nav-item.dropdown:hover::after {
  content: "";
  width: 92.5%;
  background: #faa718;
  z-index: 999999;
  border-radius: 2px 2px 0px 0px;
  bottom: -8px;
  display: block;
  padding-bottom: 3px;
  position: absolute;
}
/* a.active_class::after {
  content: "";
  width: 3.5%;
  background: #faa718;
  z-index: 999999;
  border-radius: 2px 2px 0px 0px;
  bottom: 0px;
  display: block;
  padding-bottom: 3px;
  position: absolute;
}  */



a.link2.active_class::after {
  content: "";
  width: 5.5%;
  background: #faa718;
  z-index: 999999;
  border-radius: 2px 2px 0px 0px;
  bottom: 0px;
  display: block;
  padding-bottom: 3px;
  position: absolute;
} 
.link2:hover {
  color: white;
}
a.link2:hover::after {
  content: "";
  width: 100%;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
a.link2:hover::after {
  content: "";
  width: 5.5%;
  background: #faa718;
  z-index: 999999;
  border-radius: 2px 2px 0px 0px;
  bottom: 0px;
  display: block;
  padding-bottom: 3px;
  position: absolute;
}
button#dropdown-basic {
  background-color: #000143;
  border: none;
  color: #79799c;
}
button:focus {
  outline: 0;
}
.drop-menu.show {
  margin-left: -85px;
}
.dropdown-basic__icon {
  color: #faa719;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 12px;
}
button.toggle__color.navbar-toggler {
  background-color: #dee2e6;
}
.main__newnav.navbar-nav {
  margin-top: -4px;
}
a.main__newnav.navbar-nav.link2 {
  color: #79799c;
  text-decoration: none;
  margin-top: 7px;
  padding-right: 31px;
}
/* End Header Style */

/* Start Toggle Style */
.text-center.flight-details {
  padding-top: 65px;
}

#Accordions {
  position: absolute;
}
#Accordions .Accordions__left {
  width: 350px;
  margin: 17px 0px 0px 17px;
}
#Accordions .accordion-item:first-of-type .accordion-button {
  background: #092359;
  color: white;
}
#Accordions .accordion-item:last-of-type .accordion-button {
  background: #092359;
  color: white;
}

#Accordions .accordion-body {
  padding: 1rem 1.25rem;
  background: #4f6695 !important;
}
#Accordions .Accordion-Header--live {
  background: #ffc108;
  margin-left: 11px;
  font-size: 14px;
  font-weight: 600;
  padding: 1px 5px 1px 5px;
  border-radius: 2px;
  text-transform: uppercase;
}
#Accordions p.Accordion-Header--question {
  margin: -1px;
  margin-left: 10px;
  border: 2px solid #4f6695;
  font-size: 12px;
  color: #4f6695;
  font-weight: 800;
  padding: 0px 3px 0px 3px;
  border-radius: 10px;
}
#Accordions .Accordion-body__content--inside {
  background: #092359;
  border-radius: 4px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
#Accordions .Accordion-body__content {
  margin-left: -11px;
  margin-right: -11px;
}
#Accordions .Accordion-body__content--inside ul li {
  list-style: none;
}
#Accordions .Accordion-body__content--inside__number {
  color: white;
  margin-left: -19px;
}
#Accordions .Accordion-body__content--inside__number {
  color: white;
  margin-left: 17px;
  font-weight: 600;
  font-size: 24px;
  padding-top: 11px;
}
#Accordions span.Accordion-body__content--inside__content {
  margin-left: 43px;
  color: white;
  display: block;
  margin-top: -40px;
  font-size: 15px;
}
#Accordions small.Accordion-body__content--inside__content-small {
  color: white;
  display: block;
  margin-left: 42px;
  margin-top: -21px;
  font-size: 12px;
}
#Accordions .Accordion-body__content--inside__icon {
  color: #faa718;
  margin-left: 264px;
  font-weight: 600;
  margin-top: -32px;
}
#Accordions svg.Accordion-body__content--inside__icon--users {
  width: 36%;
  margin-top: -2px;
}
/* End Toggle Style */

/* Start Flight Details Style */
.flight-details__modal {
  position: fixed;
  bottom: 44px;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 12px;
  height: 85vh;
}
.flight-details__modal--image img {
  height: 14em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
span.flight-details__modal--image__button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: #f5f3f3;
  border-radius: 19px;
  padding: 1px 1px 0px 1px;
  font-size: 14px;
}
.flight-details__modal--body {
  background: #4f6695 !important;
  flex-grow: 1;
  padding: 1.3rem 1rem;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 2.4px;
}
.flight-details__modal--image__after-bg-image {
  width: 86%;
  height: 58px;
  position: absolute;
  background: white;
  margin-left: 23px;
  margin-top: -30px;
  border-radius: 8px;
}
.flight-details__Accordion .accordion-item button {
  height: 5vh;
}
.flight-details__modal--image__after-bg-image-logo img {
  width: 100%;
  height: 65%;
}

.flight-details__modal--image__after-bg-image-logo {
  width: 61%;
  padding: 16px 0px 0px 8px;
}
.flight-details__modal--image__after-bg-image__column {
  border-right: 1px solid gainsboro;
  height: 58px;
}
.flight-details__modal--image__after-bg-image-logo span {
  display: block;
  margin-top: -17px;
  font-size: 12px;
  color: #000143;
  font-weight: 500;
}
.flight-details__modal--image__after-bg-image-logo p {
  font-size: 12px;
  color: #7a7777;
}
.flight-details__modal__boby-content {
  padding: 9px;
  background: #f9f7f7;
  width: 100%;
  height: 100vh;
}
.flight-details__modal__boby-content--inside-content {
  background: white;
  padding: 10px;
  border-radius: 4px;
  padding-bottom: 28px;
}
.col.flight-details__modal__boby-content--inside-content__doh img {
  width: 50px;
  transform: translateY(38%);
  margin-left: 15px;
}
.col.flight-details__modal__boby-content--inside-content__doh small {
  font-size: 12px;
  color: #8b8989;
  display: block;
}
.col.flight-details__modal__boby-content--inside-content__dac small {
  font-size: 12px;
  color: #8b8989;
  display: block;
}
small.col.flight-details__modal__boby-content--inside-content__doh--time {
  display: block;
  margin-top: -4px;
  font-size: 11px;
}
small.col.flight-details__modal__boby-content--inside-content__dac--time {
  display: block;
  margin-top: -4px;
  font-size: 11px;
}
.col.flight-details__modal__boby-content--inside-content__dac small {
  font-size: 12px;
  color: #8b8989;
  display: block;
}
.col.flight-details__modal__boby-content--inside-content__dac {
  text-align: right;
}
.col.flight-details__modal__boby-content--inside-content__dac h2 {
  color: #000143;
}
.col.flight-details__modal__boby-content--inside-content__doh h2 {
  color: #000143;
}
.flight-details__modal__boby-content--table table {
  border-collapse: collapse;
  width: 100%;
}
.flight-details__modal__boby-content--table td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
  border-bottom: 1px solid #f9f7f7;
  border-right: 1px solid #f9f7f7;
  font-size: 11px;
  text-transform: uppercase;
  color: #7f7c7c;
  padding-top: 3px;
}

.flight-details__modal__boby-content--table tr {
  background-color: #dddddd;
  padding-bottom: 2px;
}
.flight-details__modal__boby-content--table td small {
  color: #8b8989;
  font-weight: 500;
  font-size: 10px;
  margin-left: 2px;
}
.flight-details__modal__boby-content--table td span {
  float: right;
  color: #4c4b4b;
  font-weight: fo;
  font-weight: 500;
  font-size: 14px;
}
button.accordion-button img {
  width: 22px;
  margin: auto;
  margin-left: 60px;
  margin-top: -5px;
}
.flight-details__Accordion .accordion-item:first-of-type .accordion-button {
  background: #4f6695;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.flight-details__Accordion .accordion-item:last-of-type .accordion-button {
  background: #4f6695;
  color: white;
}
button.accordion-button {
  font-size: 14px;
  padding-right: 60px;
  font-weight: 600;
}
.flight-details__Accordion__more-info {
  display: flex;
}
.flight-details__Accordion {
  padding-top: 11px;
}
.body.accordion-body {
  padding: 0px;
}
.flight-details__Accordion--more-info-inside img {
  width: 22px;
}
.flight-details__Accordion--more-info-inside {
  background: gainsboro;
  padding: 10px;
}
.flight-details__Accordion__more-info__type {
  padding: 5px 0px 8px 0px;
}
tr.flight-details__Accordion__more-info__type--table {
  border-bottom: 1px solid #ebeaea;
}
.flight-details__Accordion__more-info__type table tr td small {
  display: block;
  color: #484545;
  font-size: 12px;
}
.flight-details__Accordion__more-info__type table tr td {
  padding-bottom: 8px;
  font-size: 12px;
  color: #7c7a7a;
  font-weight: 500;
  padding-right: 36px;
  padding-left: 8px;
}
.flight-details__Accordion__more-info__type--color {
  background: maroon;
  width: 28px;
  height: 15px;
  margin-top: 3px;
  border: 1px solid;
}
.flight-details__Accordion .accordion {
  padding-bottom: 8px;
}
/* End Flight Details Style */

/* Start Flight Details Footer Style */
.flight-details__modal--footer__inside {
  background: #000143;
  display: flex;
  height: 59px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  justify-content: space-evenly;
}

.flight-details__modal--footer__inside--image img {
  margin-top: 9px;
  width: 23px;
}
small.flight-details__modal--footer__inside--image--content {
  color: white;
  font-size: 11px;
  font-weight: 500;
  display: block;
  line-height: 21px;
}
small.flight-details__modal--footer__inside--image--content2 {
  color: white;
  font-size: 11px;
  font-weight: 500;
  display: block;
  line-height: 21px;
  margin-top: 9px;
}
small.flight-details__modal--footer__inside--image--content1 {
  color: #faa719;
  font-size: 11px;
  font-weight: 500;
  display: block;
  line-height: 21px;
}
img.flight-details__modal--footer__inside--image__change {
  margin-bottom: 5px;
}
/* End Flight Details Footer Style */

/* Start Footer Style */

footer.flight-details-footer {
  position: fixed;
  height: 44px;
  background: black;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.flight-details-footer__content {
  text-align: center;
  margin-top: 13px;
  font-size: 12px;
  color: #979696;
  font-weight: 600;
}
/* End Footer Style */

/* Start Registration & Login Style */
.registration {
  background-image: url(http://localhost:3000/Images/bg-for-login-and-resistration.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding-bottom: 163px;
}

.registration__image__form {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 15%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.registration__image {
  width: 390px;
  margin: 0 auto;
}

form.registration__image__form--inside h2 {
  color: white;
  padding: 0px 0px 21px 0px;
}

form.registration__image__form--inside {
  background: #ffffff14;
  padding: 1.3em;
  border: 1px solid #ffffff47;
  border-radius: 5px;
  padding-bottom: 40px;
}

button.registration__image__form--inside__content--button.btn.btn-primary {
  border: #faa718;
  transition: all 0.3s ease-in-out;
  background: #faa718;
  text-transform: uppercase;
  width: 80%;
  border-radius: 25px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 14px;
}
button.registration__image__form--inside__content--button.btn.btn-primary:hover {
  width: 85% !important;
}
small#text1.text-muted.form-text a {
  color: #faa719;
  margin-left: 4px;
  text-decoration: none;
}
small.text-muted.form-text a {
  color: #faa719 !important;
  margin-left: 4px;
  text-decoration: none;
}
small#text1.text-muted.form-text {
  font-weight: 500;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  font-size: 12px;
}
small.text-muted.form-text {
  font-weight: 500;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  font-size: 12px;
}
form.registration__image__form--inside input {
  font-size: 14px;
  font-weight: 400;
}
.form-check {
  text-align: left;
  color: white;
  display: block;
  font-size: 13px;
}
small#text {
  display: block;
  text-align: right;
  margin-top: -39px;
  font-weight: 500;
  --bs-text-opacity: 1;
  color: #faa719 !important;
  font-size: 12px;
}
/* End Registration & Login Style */
