@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
.main{
  font-family: 'Lato', sans-serif !important;
  background-color: #000143;
  color: #79799c;
  
}
.logo {
  margin-top: -16px;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,);
}
.navbar-nav {
  margin: auto;
}
.me-auto.navbar-nav .nav-link {
  color: #79799c;
}
a#basic-nav-dropdown {
  color: #79799c;
  padding-right: 28px;
}
a.link1 {
  color: #79799c;
  text-decoration: none;
  margin-top: 7px;
padding-right: 31px;
}
a.active_class {
  color: #79799c;
  border-bottom: 1px solid #faa718;
  color: white;
}
a.link1:hover{
  color: white;
}
