@media (max-width: 1590px) {
  .navbar-nav .link1.active_class::after {
    /* left: 23.2%; */
    margin-left: -6px;
  }
  a.link3:hover::after {
    margin-left: -3px;
  }
  a.link2:hover::after {
    width: 6.5%;
  }
  a.link2.active_class::after{
    width: 6.5%;
  }
  a.link4:hover::after {
    margin-left: 0px;
  }
  a.link5:hover::after {
    margin-left: 0px;
  }
}

@media (max-width: 1200px) {
  a.link3:hover::after {
    width: 4.9%;
    /* left: 28.3%; */
  }
  .navbar-nav .link1.active_class::after {
    width: 4.9%;
    /* left: 22.1%; */
  }
  a.link2:hover::after {
    width: 10%;
  }
  a.link4:hover::after {
    width: 4.9%;
  }
  a.link5:hover::after {
    width: 5%;
    /* left: 66.7%; */
  }
  a.link2.active_class::after {
    width: 10%;
  }
}

/* For Large Device */
@media (max-width: 991px) {
  .navbar-nav .link1.active_class::after {
    padding-bottom: 0px;
  }
  a.link2.active_class::after {
    padding-bottom: 0px;
  }
  a.link2:hover::after {
    padding-bottom: 0px;
  }
  a.link1:hover::after {
    padding-bottom: 0px;
  }
  a.link3:hover::after {
    padding-bottom: 0px;
  }
  a.link4:hover::after {
    padding-bottom: 0px;
  }
  a.link5:hover::after {
    padding-bottom: 0px;
  }

  .drop.nav-item.dropdown:hover::after {
    padding-bottom: 0px;
  }
  .dropdown-menu.show a {
    color: white;
  }
  .dropdown-menu.show {
    width: 0%;
    background: #000143;
  }
  .text-center.flight-details {
    margin: auto;
    margin-left: 413px;
    padding-top: 59px;
  }
  .registration {
    padding-bottom: 82px;
  }
}

/* For Medium device */
@media (max-width: 767px) {
  .flight-details__modal {
    width: 64%;
  }
}

/* For Small device */
@media (max-width: 575px) {
  .text-center.flight-details {
    margin: auto;
    padding-top: 59px;
  }
  #Accordions .Accordions__left {
    width: 100%;
  }
  .flight-details__modal {
    width: 95%;
  }
  .registration__image {
    width: 281px;
    margin: 0 auto;
    height: 52vh;
  }
  .main {
    width: 100%;
  }
  #Accordions {
    width: 87%;
  }
  #Accordions .accordion-item:first-of-type .accordion-button {
    font-size: 11px;
  }
  #Accordions .accordion-item:last-of-type .accordion-button {
    font-size: 11px;
  }
  #Accordions svg.Accordion-body__content--inside__icon--users {
    width: 56%;
  }
  a.logo.navbar-brand img {
    width: 79%;
  }
  .flight-details__modal--image__after-bg-image {
    width: 91%;
    margin-left: 16px;
  }
  .flight-details__modal--image__after-bg-image-logo p {
    font-size: 10px;
  }
  .flight-details__modal {
    height: 80vh;
  }
  #Accordions span.Accordion-body__content--inside__content {
    font-size: 12px;
  }
  #Accordions small.Accordion-body__content--inside__content-small {
    font-size: 11px;
  }
  #Accordions .Accordion-body__content--inside__icon {
    margin-left: 203px;
  }
  .pb-4 {
    padding-bottom: 0.5rem !important;
  }
  .mb-4 {
    margin-bottom: 1rem !important;
  }
  button.registration__image__form--inside__content--button.btn.btn-primary {
    width: 77%;
    margin-top: 16px;
    margin-bottom: 5px;
    font-size: 11px;
  }
  form.registration__image__form--inside input {
    font-size: 11px;
    font-weight: 400;
  }
  form.registration__image__form--inside {
    padding-bottom: 14px;
  }
}
